:root {
    --white1: #c8c8c8;
    --white2: #999;
    --white3: #888;
    --white4: #777;
    --black1: #111;
    --black2: #222;
    --black3: #333;
    --black4: #444;
    --red1: #fd7656;
    --red2: #cb4733;
    --purple1: #c688ff;
    --purple2: #ae63ffcc;
    --amber1: #f59e0b;
}

html {
    font-family: 'Open Sans';
    background-color: var(--black1);
    color: var(--white1);
}

body {
    margin: 0 5%;
    display: grid;
}

body > h1 {
    font-size: 50px;
}

.meta-container {
    display: grid;
    margin-top: 40px;
    align-items: center;
    grid-template-columns: 75px;
}

.meta-container > img {
    grid-row: span 2;
    width: 60px;
    height: 60px;
    justify-self: center;
    border-radius: 50%;
}

section img {
    max-width: 100%;
}

.meta-container > span {
    margin-left: 15px;
    grid-column-start: 2;
}

section {
    margin-top: 40px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
}

section *[id^="heading__"] {
    width: fit-content;
    color: var(--purple1);
}

section *[id^="heading__"] > a.section-logo {
    visibility: hidden;
}

section *[id^="heading__"]:hover > a.section-logo {
    visibility: visible;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

.section-logo {
    font-weight: 200;
    padding: 10px;
}

pre {
    margin: 10px;
    background-color: var(--black4);
    border-radius: 10px;
    white-space: pre-wrap;
}

pre > div {
    position: relative;
    top: -30px;
    right: -8px;
    float: right;
    border-radius: 5px;
    border: 3px solid var(--black3);
    padding: 5px;
    background-color: var(--black4);
    color: var(--white1);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
}

pre > code {
    font-family: 'Jetbrains Mono';
    background-color: inherit !important;
    font-size: 15px;
}

pre > code > div {
    position: relative;
}

span.code-line-number {
    left: 0;
    position: absolute;
    color: var(--white3);
}

blockquote::before {
    content: "“";
    position: relative;
    font-size: 50px;
    color: var(--red1);
}

blockquote > p {
    display: inline;
}

blockquote {
    background-color: var(--black3);
    padding: 15px;
    border-radius: 15px;
}

blockquote:last-child {
    padding-bottom: 0;
}

section > blockquote:last-child {
    padding-bottom: 15px;
}

mark {
    background-color: var(--red1);
    padding: 4px;
    border-radius: 2px;
}

a:not(.tag, .section-logo, [id^="footnote-reference-"]):link, a:not(.section-logo, [id^="footnote-reference-"]):visited {
    color: inherit;
    text-decoration: underline var(--red1);
    text-underline-offset: 6.5px;
    padding: 3px;
}

a:not(.tag, .section-logo, [id^="footnote-reference-"]):hover {
    background-color: var(--red2);
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--white1);
    transition: 0.3s ease;
}

a:hover > span {
    color: var(--white1);
}

a:has(img) {
    text-decoration: none !important;
}

a:has(img):hover {
    background-color: inherit !important;
}

sup > a[href^="#footnote-definition-"] {
    text-decoration: none;
    color: var(--amber1);
}

hr {
    border: 2px solid var(--amber1);
}

a[href^="#footnote-reference-"] {
    padding: 10px;
}

a.tag {
    font-family: 'Open Sans';
    border-radius: 999px;
    padding: 5px 10px !important;
    margin: 3px;
    font-size: 15px;
    background-color: var(--purple2);
    color: var(--white1) !important;
    text-decoration: none !important;
    font-weight: 300;
}

details {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--black2);
    border-radius: 10px;
}

details[open] > summary {
    margin: -20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--black4);
}

details > summary > span {
    position: relative;
    left: 10px;
}

details > div {
    padding-top: 20px;
}

ul:has(li.task-item) {
    padding: 15px;
}

li.task-item {
    list-style-type: none;
    padding: 5px
}

li.task-item > span {
    padding-right: 15px;
}

table {
    border-spacing: 0px;
    margin: 20px 0px;
}

th, td {
    padding: 8px 15px;
    border: 1px solid var(--black3);
}

table tr:nth-child(2n) {
    background-color: var(--black2);
}

.inline-code {
    font-size: 14px;
    font-family: 'Jetbrains Mono';
    background-color: var(--black4);
    padding: 3px 5px 4px 5px;
    border-radius: 3px;
    margin: 0 3px;
}

.href-external {
    text-decoration: none;
    font-size: 11px;
    vertical-align: super;
    color: var(--white4);
    margin: 0px 3px;
}

::-webkit-scrollbar {
    background-color: var(--black1);
    border-radius: 0;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black1);
    margin: 10px 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black3);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--black4);
}

figure > figcaption {
    color: var(--white2);
    font-style: italic;
    padding-left: 25px;
}

p {
    line-height: 160%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--black1);
    color: var(--white1);
}

nav > img {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}

nav a {
    text-decoration: none !important;
}

nav > ul > div {
    display: flex;
    gap: 16px;
    font-size: 20px;
    list-style-type: none;
}

nav > ul > div > li {
    padding: 5px 15px;
}